---
title: Desafio Suricato
layout: challenge-home
permalink: /desafiosuricato/
---

<section class="border-bottom spacing-bottom">
    <h1>Desafio Suricato #1: CSS</h1>
    <p>E aí, vai encarar?</p>
</section>

<section class="border-bottom spacing-bottom">
    <h2>O que é o desafio suricato?</h2>
    <p>Idealizado pelos alunos do primeiro ciclo de Sistemas para Internet da FATEC Rubens Lara, que adotaram o <a target="_blank" href="https://twitter.com/suricatosidao/">Suricato Sidão</a> como seu mascote, é um desafio semanal, onde ninguém vence nem perde, todos aprendem!</p>
    <p>A ideia é que todos exercitem diariamente as habilidades em CSS e HTML, criando pequenos <em>snippets</em> (pequenos códigos de texto), seguindo um tema decidido na classe todas as segundas-feiras.</p>
    <p>Conforme os participantes forem finalizando suas entradas da semana, uma página contendo todas as participações vai ao ar, assim todos podem analisar o código um do outro, e assim aprender técnicas novas, entender como funciona <strong>aquele</strong> atributo, e por assim em diante!</p>
</section>

<section class="border-bottom spacing-bottom">
    <h2>"Mas eu não sei fazer nada em {insira linguagem/ferramenta}!"</h2>
    <p>Um dos meus artistas contemporâneos favoritos é o falecido Bob Ross. Depois de um tempo como soldado na marinha, ele decidiu que nunca mais ia gritar com ninguém, e que iria dedicar o resto da vida à arte da pintura. Ele cria <a target="_blank" href="https://www.google.com.br/search?biw=1920&bih=949&tbm=isch&sa=1&ei=tkemWq6SNoK5wATZxKqYCA&q=bob+ross+paintings&oq=bob+ross+paintings&gs_l=psy-ab.3..0j0i67k1j0i30k1l8.2450.4297.0.4512.14.12.0.1.1.0.172.892.5j3.8.0....0...1c.1.64.psy-ab..6.8.757...0i13k1j0i13i30k1.0.9T6v7yLW01k">pinturas fantásticas</a> no programa dele, enquanto dá diversos conselhos que podem ser aplicados à nossa àrea e pra vida em geral. Se você acredita que "não sabe fazer nada", eu deixo aqui algumas das frases dele:</p>
    <ul>
        <li><em>"Talento é um interesse perseguido. Qualquer coisa que você estiver disposto a treinar, você pode fazer"</em></li>
        <li><em>Nós não erramos, só temos uns acidentes felizes</em></li>
        <li><em>Toda vez que você aprende, você ganha</em></li>
        <li><em>Você pode fazer o que quiser, esse é o seu mundo</em></li>
    </ul>
    <p>Para mostrar que a beleza às vezes está nos mínimos detalhes: olhe o código dessa página. As mudanças no layout dele foram mínimas nas fontes e cores. Sem nenhuma firula especial, essa página minimalista saiu do padrão de uma página comum, e ainda assim ficou esteticamente agradável. Esse é o lado mágico do CSS. Menos pode ser <strong>MUITO</strong> mais!</p>
</section>

<section class="border-bottom spacing-bottom">
    <h2>Beleza, você me convenceu! Como eu participo?</h2>
    <p>É isso que eu gosto de ouvir! Para participar, nós vamos usar o <a target="_blank" href="http://codepen.io/">CodePen</a>, uma ferramenta que permite que façamos páginas simples de HTML/CSS/JS sem precisar de uma hospedagem, tudo salvo no seu perfil. É ótimo para o nosso caso, que só usa uma página!</p>
    <p>Para criar uma conta, basta clicar neste link, ou já dentro do site em <strong>Sign Up</strong>. Ele vai pedir seu nome, um usuário, email e senha. Pronto! Você já pode usar o codepen e salvar seus <em>pens</em> à vontade!</p>
    <p><strong>Lembrete:</strong> O campo HTML do editor do CodePen já possui as tags principais, você só precisa digitar como se estivesse dentro do &lt;body&gt;, só pôr a mão na massa!</p>
</section>

<section class="border-bottom spacing-bottom">
    <h2>O que vale?</h2>
    <p>Como já dizia Tim Maia, <em>"vale, vale tudo"</em>. Você pode fazer botões, animações, ou até mesmo um fundo colorido com texto e um poema. A graça do desafio é esse, não existe uma regra. A gente só precisa se guiar no tema da semana pra fazer literalmente o que der na telha! A única regra é que deve usar exclusivamente HTML+CSS! (<strong>Boo, javascript!</strong>)</p>
    <p>O designer Matthias Martin fez um desafio parecido, escrevendo um código CSS por dia. Todos eles estão disponíveis pra estudo no CodePen, e você pode ver todos eles <a target="_blank" href="https://100dayscss.com">neste link</a>. Notem como teve desde coisas simples à complexas, o ponto é somente se aprimorar, e não correr uma corrida. Por isso escolhemos um tempo maior entre um tema e outro!</p>
</section>

<section class="border-bottom spacing-bottom">
    <h2>Vamos pôr a mão na massa?</h2>
    <p>O nosso primeiro tema, para garantir que todos consigam esquentar os motores sem problemas será:</p>
    <p class="theme">Sua Ficha de RPG</p>
    <p>Você pode conferir alguns exemplos de ficha <a href="https://i.pinimg.com/originals/82/02/ac/8202ac960d898a12e03bb3acd850b9de.jpg">neste link</a>, <a href="https://100freskura.files.wordpress.com/2010/09/ficha-a5.jpg">neste</a>, ou <a href="http://www.rederpg.com.br/wp/wp-content/uploads/2017/01/livro-de-rpg-com-sistema-para-uso-escolar-ficha.jpg">neste</a>. A ideia não é reproduzir uma ficha como a de RPG de mesa, e sim criar algo parecido para mostrar um pouco sobre quem é VOCÊ!</p>
    <p>Então pensem bem e vamos que vamos! Qualquer dúvida, lembrem-se de perguntar aos colegas mais experientes! Conhecimento tem que ser dividido!</p>
</section>

<section class="spacing-bottom">
    <h2>Desafios feitos: (Você ainda pode mandar para os anteriores!)</h2>
    <ul>
    {% if site.data.themes.length == 0 %}
        li{Não há itens nessa lista.}
    {% endif %}
    {% for item in site.data.themes %}
        <li><a href="/desafiosuricato/semana-{{item.week}}">Semana {{item.week}}: {{item.theme}}</a></li>
    {% endfor %}
    </ul>
</section>