html, body {
  height: 100%;
  margin:0;
}

body {
  background-color: #69D2E7;
  
  display: -webkit-box;
  display: -moz-box;
  display: box;
  
  -webkit-box-align: center;
  -moz-box-align: center;
  flex-align: center;
  
  -webkit-box-pack: center;
  -moz-box-pack: center;
  flex-pack: center;
}

.count2 {
  padding:10px;
  background-color:#E0E4CC;
  color:#FA6900;
  border-bottom:5px solid #c8cbb6;
  text-align:center;
  font-size:3em;
}

.clear,.count2{
  clear:both;
}