body {
    margin: 0 auto;
    background-color:#a3ce27;
    color:#44891a;

    font-family: 'Press Start 2P', cursive;
    text-align: center;
}
canvas {
    width:832px;
    margin:0 auto;
    border: 4px solid #44891a;
}