<!DOCTYPE html>
<html lang="pt-br">

{% include head.html %}

<body>
    
<section class="border-bottom spacing-bottom">
    <h1>Tema: {{page.theme}}</h1>
    <h2>Início: {{page.start}}</h2>
</section>

{% assign entries = site.data.challenge | where: 'week', page.week | sort: 'name' %}

{% for entry in entries %}
<section class="spacing-bottom border-bottom">
    <p data-height="512" data-theme-id="0" data-slug-hash="{{entry.pen}}" data-default-tab="result" data-user="{{entry.user}}" data-embed-version="2" class="codepen">
        Veja o <a href="https://codepen.io/{{entry.user}}/pen/{{entry.pen}}/">Pen</a> feito por {{entry.name}} (<a href="https://codepen.io/{{entry.user}}">@{{entry.user}}</a>) em <a href="https://codepen.io">CodePen</a>.
    </p>
    <p>Por: {{entry.name}}</p>
</section>
{% endfor %}

<a class="back" href="/desafiosuricato/">Voltar</a>

<script async src="https://static.codepen.io/assets/embed/ei.js"></script>
</body>

</html>